@import url(https://fonts.googleapis.com/css?family=Roboto:400);
/*CSS Style Sheet*/

body 
{
	background-color: #262626;
	/* background-image: url("https://i.imgur.com/MqbVQw4.png"); */
	background-image: url("https://equatulator.me/media/atomMaster.svg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;

	color: white;
	-webkit-font-smoothing: antialiased;
	font: normal 14px Roboto,arial,sans-serif;
	text-align: center;
}

/* Body CSS */
.container-fluid
{
	padding-top: 1%;
	padding-bottom: 1%;
}

.row
{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.row-heading
{
	margin-bottom: 0;
}
.row-subtitle
{
	margin-top: 0;
}
.row-equation
{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 200%
}
.row-subheading
{
	margin-top: 0;
	margin-bottom: 0;
}
.row-btn
{
	margin-top: 10px;
	#margin-bottom: 0;
}
.row-inputs
{
	#margin-top: 0;
	margin-bottom: 0;
}
.margin {margin-bottom: 45px;}

/* IMG CSS START*/
/* xs */
.img-responsive 
{
	display:inline;
    max-width: 100%;
    max-height: auto;
}
/* sm */
@media (min-width: 768px) 
{
    .img-responsive 
	{
		display:inline;
        max-width: 70%;
    }
}
/* md */
@media (min-width: 992px) 
{
    .img-responsive 
	{
		display:inline;
        max-width: 60%;
    }
}
/* lg */
@media (min-width: 1200px) 
{
    .img-responsive 
	{
		display:inline;
        max-width: 40%;
    }
}


/* IMG CSS END*/

@keyframes fadein 
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein 
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein 
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein 
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein 
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

.outer 
{
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}

.middle 
{
    display: table-cell;
    vertical-align: middle;
}

.inner-1 
{
	margin: auto;
	padding-left: auto;
	padding-right: auto;
	max-width: 800px;
	vertical-align: middle;
}

.aboutText
{
	text-align: left;
}
/*
.mjx-math
{
	font-size: 200%
}
*/

a:link    {color:white; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:grey; background-color:transparent; text-decoration:none}
a:active  {color:grey; background-color:transparent; text-decoration:none}